!-- Latest compiled and minified JavaScript --!>/

/* Body */
body {
  font-family:  fantasy;
  font-size: 16px;
  align-content: center;
  font-family: fantasy;
  padding-top: .300rem;
  padding-bottom: .300rem;
}

/* Social icons style */
  ul.social-icons {
      text-align: center;
  }
  ul.social-icons li {
      display:inline-block;
      list-style-type:none;
  }
  ul.social-icons li a {
      border-bottom: none;
  }
  ul.social-icons li img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
  }

/* Navbar style */
ul.nav li {
  font-size: 100px;
  display: contents;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 auto;
  left: auto;
}
nav {
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  padding: 10px 10px;
  max-width: 700px;
}
nav a:hover {
  background-color: black;
  color:white;
}

/* logo STYLIng*/

div.inner {
  align-items: center;
  padding: 100px;
  background-color: black;
  margin: inherit;
  border: 10px;
}
/*culturebox image*/
img#logo {
width: 1100px;
height: 400;
border-style: none;
}

/* back_button STYLIng*/
div.backbutton {
  position: right;
  padding-left: 100px;
  background: black;
}

/*button for going back*/
img#button{

  align-items: right;
  padding-left: 1000px;
  background: black;
}

/* dropdown menu */

div.dropdown-menu{
  text-align: center;
  background: black;
  color: white;
}

/*dropdown list*/
a:link, a:visited {
  text-align: centre;
  background: #2ad5e4;
  color: black;
  box-sizing: border-box;
  font-weight: 700;
  text-transform: uppercase;
  font-family: fantasyf;
  padding-top: .300rem;
  padding-bottom: .300rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  text-decoration: none;
}
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: blue;
}
/*button for links*/
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    background-color: #2ad5e4;
    border-color: #2ad5e4;
}
.btn-xl {
    padding: 1rem 2rem;
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: fantasy;
}
.btn-primary {
    color: #2ad5e4;
    background-color: #2ad5e4;
  }

/*about us*/
div.Aboutus{
  align-content: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: fantasy;
  padding-top: .300rem;
  padding-bottom: .300rem;
}

/*contact us*/
div.Contactus {
  align-content: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: fantasy;
  padding-top: .300rem;
  padding-bottom: .300rem;
}
