body {
  font-family:  fantasy;
  font-size: 16px;
  align-content: center;
  font-family: fantasy;
  padding-top: .300rem;
  padding-bottom: .300rem;
}

/* Social icons style */


/* Styling for container*/

div.container{
  background-color: black;
  color: white;
  padding: 10px;
}
