
/* Font */
Body {
  font-family:serif;
}
/* Worldmap dimensions */
img.worldmap {
  width:1430px;
}

/* Body */
body {
  font-family: monospace;
}

/* Social icons style */
  ul.social-icons {
      text-align: center;
  }
  ul.social-icons li {
      display:inline-block;
      list-style-type:none;
  }
  ul.social-icons li a {
      border-bottom: none;
  }
  ul.social-icons li img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
  }

/* Navbar style */
ul.nav li {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 auto;
}
nav {
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
nav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  padding: 10px 10px;
  max-width: 700px;
}
nav a:hover {
  background-color: white;
  color: black;
}

/* Welcome section */
h1 {
  font-size:50px;
}
h3 {
  font-size:20px
}
/* Social icons style */
  ul.social-icons {
      text-align: center;
  }
  ul.social-icons li {
      display:inline-block;
      list-style-type:none;
  }
  ul.social-icons li a {
      border-bottom: none;
  }
  ul.social-icons li img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
  }

  ul li:not(:last-child) {
    border-right: 1px solid grey;
    margin-right:20px;
    padding-right:20px;
  }

/* Aboutus section - header image*/
#CULTUREBOX > div > div.logo > a > img {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  max-width:  inherit;
  height: inherit;
  margin: 0 auto;
}

#CULTUREBOX > div > div.menu > li > a > img {
  align-items: right;
}

#CULTUREBOX > div > div.nav-menu > nav > ul > li > div {
  text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      background-color: #061f3a;
      color: #f0b5a8;
      font-size: 15px;
      border-radius: 0;
      border: 0;
      border-bottom: solid #99e9ff 3px;
      border-top: solid #99e9ff 3px;
      margin: 10px 10px;
      font-weight: bold;
}
